@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #F5F5F5F;
}

header{
    height: 100px;
   
   
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo img{
    width: 100px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    opacity: 0.6;
}

.btn__header-register,
.btn__register-cover{
    padding: 14px 50px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}


.btn__header-register:hover,
.btn__register-cover:hover{
    background: #69F1A1;
    color: #000;
}

#icon_menu{
    display: none;
}

/*PORTADA - COVER*/

main{
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding: 40px;
    margin: auto;
}

.boton {
    background: rgba(0,0,0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-left: 30.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.boton:hover {
    background: #fff;
    color: #000;
}

.main-banner {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: -7px;
  top: 28px;
}
  
#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 90%;
  max-height: 50vh;
  object-fit: cover;
  z-index: -1;
}
  
#bg-video::-webkit-media-controls {
display: none !important;
}
  
.video-overlay {
  position: absolute;
  background-color: rgba(31,39,43,0.75);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
  
.main-banner .caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
  
.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}
  
.main-banner .caption h2 {
margin-top: 20px;
margin-bottom: 20px;
font-size: 36px;
text-transform: uppercase;
font-weight: 800;
color: #fff;
letter-spacing: 1px;

  
}
  
.main-banner .caption h2 em {
  font-style: normal;
  color: #f5a425;
  font-weight: 900;
  margin-left: 30.25em;
}
  
.main-banner .caption p {
  color: #fff;
  font-size: 14px;
  max-width: 600px;
  margin-left: 30.25em;
}
  
.main-banner .caption .main-button-red {
  margin-top: 30px;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p{
    font-size: 18px;
    margin-top: 40px;
}

.buttons__cover{
    display: flex;
    margin-top: 40px;
}

.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btn__readMore-cover:hover{
    background: #E8E8E8;
}

.media__cover{
    width: 50%;
}

.media__cover video{
    width: 100%;
    margin-top: -40px;
}

/*BANNER*/

.container__banner{
    margin-top: 80px;
}

.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
}

.banner__icon-heart{
    width: 35%;
    height: 100%;
}

#icon_heart{
    width: 400px;
    margin-top: -20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner__text{
    width: 60%;
    position: relative;
    padding: 40px;
}

.banner__text h2{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.banner__text a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.banner__text a:hover{
    color: #69F1A1;
}

.banner__icon-fire{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_fire{
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.6;
}
.content-all{
    width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 5%;
    overflow: hidden;
    perspective: 800px;
    
    box-shadow: 0 20px 40px 0 black;
}

.content-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-100%) rotateY(360deg);
    opacity: 0;
    transition: all 1s;
}

#img1{
    transform: translateX(0);
    opacity: 1;
}

.content-img:target{
    transform: translateX(0) rotateY(0deg);
    opacity: 1;
}
.content-img img{
    width: 100%;
    height: 100%;
}

.icon-left-open{
    position: absolute;
    top: 250px;
    left: 0;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.icon-right-open{
    position: absolute;
    top: 250px;
    right: 0;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.content-details{
    position: relative;
    top: -350px;
    width: 500px;
    margin: auto;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-family: arial;
}

.content-details p{
    margin-top: 10px;
}

.content-details input[type="button"]{
    padding: 6px 40px;
    font-size: 18px;
    margin-top: 10px;
    background: rgba(255, 10, 0, 0.5);
    border-style: none;
    color: white;
    outline: 0px;
    transition: all 300ms;
}

.content-details input[type="button"]:hover{
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 300ms;
}



@media (max-width: 1024px){

    .container__header,
    main{
        padding: 10px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
        float: right;
    }

    .header__register{
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    .mostrar_menu{ /*CLASE MANIPULADA POR JS*/
        height: 235px;
    }

    .text__information-cover h1{
        font-size: 40px;
    }

    .text__information-cover p{
        font-size: 16px;
    }

    .banner__text h2{
        font-size: 22px;
    }

    #icon_heart{
        left: -60px;
    }

    .banner__icon-fire{
        right: -20px;
    }
}


.footer {
    width: 100%;
    background-color: #222;
    position: relative;
    z-index: 1;
}
.footer a {
    color: #fff;
}

.footer .footer-top {
    padding-top: 9rem;
    padding-bottom: 5rem;
}
.footer .widget-title, .footer .widget-title a {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #999;
}
.footer .widget-title{
    padding-bottom: 20px;
    font-family: 'Satisfy', sans-serif;
    font-size: 44px;
    color: #FFB03B;
}
.footer .widget, .footer address {
    color: #999;
    text-transform: none;
    font-style: normal;
    padding-bottom: 15px;
}
.footer .navigation, .footer .social-list {
    float: none;
    margin-bottom: 20px;
}
.list-horizontal li {
    display: inline-block;
}
#contact{
    background-color: rgba(221, 221, 221, 0.33);
}
.footer .social-list a {
    font-size: 32px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 0 5px;
}

@media (max-width: 920px){
    .text__information-cover{
        width: 100%;
    }

    .media__cover{
        display: none;
    }

    .banner{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #icon_fire{
        display: none;
    }

    #icon_heart{
        left: 0;
    }

    .banner__text{
        width: 100%;
        margin-top: -100px;
    }
}